body {
    color:white;
    background-color: black;
}

td, th {
    border: 2px solid white;
    vertical-align:top;
    width:35%
    }

table {
    border: 2px solid white
}

#teal {
    color: yellow
}

p { margin: 2; }